%ul.nav.nav-tabs
  = form.localized_fields do |localized_fields|
    %li{ class: ( 'active' if localized_fields.language == I18n.locale ) }
      %a{ href: "##{localized_fields.language}_#{field.method_name}", data: { toggle: "tab" } }= localized_fields.language
.tab-content{ :style => 'float:left' }
  = form.localized_fields do |localized_fields|
    .fields.tab-pane{ id: "#{localized_fields.language}_#{field.method_name}", class: ( 'active' if localized_fields.language == I18n.locale ) }
      = localized_fields.text_area field.method_name, field.html_attributes.reverse_merge(:data => { :richtext => false, :options => {}.to_json }).reverse_merge({ :value => field.form_value })
